@font-face {
    font-family: Justice;
    src: url(fonts/justice3d.ttf);
}

@font-face {
    font-family: JusticeT;
    src: url(fonts/justice.ttf);
}

body {
    background: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

h1 {
    color: white;
    font-family: JusticeT;
    font-size: 14vw;
    text-shadow: 6px 6px #FF001F;
    margin-top: 0;
    animation: wave1 4s infinite;
}

h2 {
    color: white;
    font-family: Justice;
    font-size: 7vw;
    margin: 0;
    cursor: pointer;
    animation: wave2 4s infinite;
}

h2:hover {
    -webkit-text-stroke: 6px #FF001F;
    -webkit-animation: hotline-miami 3s ease-out infinite;
}

a {
    text-decoration: none;
}

@keyframes wave1 {
    0% {
        transform: rotate(1deg) translate(0px);
    }
    25% {
        transform: rotate(-1deg) translate(0px);
    }
    50% {
        transform: rotate(-1deg) translate(0px);
    }
    100% {
        transform: rotate(1deg) translate(0px);
    }
}

@keyframes wave2 {
    0% {
        transform: rotate(-1deg) translate(0px);
    }
    25% {
        transform: rotate(1deg) translate(0px);
    }
    50% {
        transform: rotate(1deg) translate(0px);
    }
    100% {
        transform: rotate(-1deg) translate(0px);
    }
}

@-webkit-keyframes hotline-miami {
    15% {
        margin-left: 0;
        text-shadow: none;
    }
    45%,
    55% {
        margin-left: 1.25em;
        -webkit-text-stroke: 6px #FFF;
        text-shadow: -4px 0 #fff, -8px 0 #FFE6E9, -12px 0 #FFD4DA, -16px 0 #FCBCC5, -20px 0 #FEA9B6, -24px 0 #FC95A6, -28px 0 #FF8297, -32px 0 #FF738B, -36px 0 #FF647E, -40px 0 #FF516E, -44px 0 #FF3F5F, -48px 0 #FF2D50, -52px 0 #FF2045, -56px 0 #FC143A, -60px 0 #FC0C34, -64px 0 #FF001F;
    }
}