@font-face {
  font-family: Justice;
  src: url(fonts/justice.ttf);
}

@font-face {
  font-family: Justice3D;
  src: url(fonts/justice3d.ttf);
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff001f;
  font-family: Justice;
  font-size: 12vw;
  margin: 0;
  text-align: center;
}

img {
  margin-top: 8%;
  margin-bottom: 8%;
}

h2 {
  color: white;
  font-family: Justice3D;
  font-size: 8vw;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

h2:hover {
  -webkit-text-stroke: 6px #ff001f;
  -webkit-animation: hotline-miami 3s ease-out infinite;
}

a {
  text-decoration: none;
}

@-webkit-keyframes hotline-miami {
  15% {
    margin-left: 0;
    text-shadow: none;
  }
  45%,
  55% {
    margin-left: 1.25em;
    -webkit-text-stroke: 6px #fff;
    text-shadow: -4px 0 #fff, -8px 0 #ffe6e9, -12px 0 #ffd4da, -16px 0 #fcbcc5,
      -20px 0 #fea9b6, -24px 0 #fc95a6, -28px 0 #ff8297, -32px 0 #ff738b,
      -36px 0 #ff647e, -40px 0 #ff516e, -44px 0 #ff3f5f, -48px 0 #ff2d50,
      -52px 0 #ff2045, -56px 0 #fc143a, -60px 0 #fc0c34, -64px 0 #ff001f;
  }
}
