@font-face {
  font-family: Justice;
  src: url(fonts/justice.ttf);
}

@font-face {
  font-family: Justice3D;
  src: url(fonts/justice3d.ttf);
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff001f;
  font-family: Justice;
  font-size: 12vw;
  margin: 0;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  font-family: Justice3D;
  font-size: 8vw;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

h2:hover {
  color: #ff001f;
}

a {
  text-decoration: none;
}
