@font-face {
    font-family: Justice;
    src: url(fonts/justice3d.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
  background: #FCFBF4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FF001F;
  font-family: Justice;
  font-size: 12vw;
  text-align: center;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  position: relative;
  width: 320px;
  background: #F2F3F4;
  border: 2px solid #FF001F;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  background-color: #FFFFFF;
  border: 1px solid #555F61;
  color: #555F61;
  padding: 40px;
  font-family: RobOto;
  font-size: 30px;
  text-align: center;
  margin: 4px;
  cursor: pointer;
}

button:hover {
  background: #EAF6F6;
}

img {
  text-align: center;
}