@font-face {
  font-family: Justice;
  src: url(fonts/justice3d.ttf);
}

@font-face {
  font-family: JusticeCond;
  src: url(fonts/justicecond.ttf);
}

body {
  background: #fcfbf4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff001f;
  font-family: Justice;
  font-size: 12vw;
  margin: 0;
  text-align: center;
}

#hearts {
  color: #ff001f;
  font-size: 72px;
  margin: 0;
  text-align: center;
}

#score {
  font-family: JusticeCond;
  font-size: 60px;
  margin: 0;
  text-align: center;
}

.wrapper,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border: 1px solid black;
  margin-top: 3%;
  margin-bottom: 3%;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
}

.grid-item {
  background-color: white;
  border: 1px solid black;
  font-family: JusticeCond;
  font-size: 30px;
  height: auto;
  margin: 6px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

@keyframes green {
  0% {
    background: #c0eda6;
  }
  100% {
    background: white;
  }
}

@keyframes red {
  0% {
    background: #fd5d5d;
  }
  100% {
    background: white;
  }
}
