@font-face {
    font-family: Justice;
    src: url(fonts/justicelaser.ttf);
}

@font-face {
    font-family: Justice3D;
    src: url(fonts/justice3d.ttf);
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FF001F;
  font-family: Justice;
  font-size: 8vw;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px black;
}

img {
  margin-top: 8%;
  margin-bottom: 0;
}

pre {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 8%;
}

h2 {
    color: white;
    font-family: Justice3D;
    font-size: 4vw;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

h2:hover {
    -webkit-text-stroke: 6px #FF001F;
    -webkit-animation: hotline-miami 3s ease-out infinite;
}
