@font-face {
    font-family: Justice;
    src: url(fonts/justice3d.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
  background: #FCFBF4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FF001F;
  font-family: Justice;
  font-size: 12vw;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3%;
}

#hearts {
  color: #FF001F;
  font-family: Roboto;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

#score {
  font-family: Roboto;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
}

.grid-item {
  background-color: #FFFFFF;
  border: 1px solid #555F61;
  color: #555F61;
  font-family: RobOto;
  font-size: 30px;
  height: auto;
  margin: 6px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

@keyframes green {
  0% {
    background: #C0EDA6;
  }
  100% {
    background: #ffffff;
  }
}

@keyframes red {
  0% {
    background: #FD5D5D;
  }
  100% {
    background: #ffffff;
  }
}
